<p style="color: green"><%= notice %></p>
<div class="row align-items-md-stretch  bi-border-center mx-auto align-content-center card text-center">
  <div class="col-md-9">
    <div class="h-100 p-5 text-bg-dark rounded-3">
     <h4><%= render @episode %></h4>

   <div>
 <button class="btn btn-outline-info" type="button"><%= link_to "Edit this episode", edit_episode_path(@episode), class:"a-light" %>
   </button>
      <button class="btn btn-outline-secondary" type="button"><%= link_to "Back to episodes", episodes_path, class:"a-light" %></button>
       <div class="btn btn-outline-danger" type="button"><%= button_to "Delete this episode", @episode, method: :delete, class:"a-light" %>
     </div>
    </div>   
  </div>
</div>
</div>
     <style>
  .a-light{
  background-color: #0d6efd;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }
</style>
